* {
    /* outline: 2px solid black; */
}

.flex_container {
    display: flex;
    justify-content:center;
    border: 4px solid black;
    padding: 12px;
  }
  
.flex_container div {
    background: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    margin: 4px;
  }
  
  /* .main-content {
    background-color: #476072;
  }
  
  .contact-us {
    background-color: #334257;
  } */

