* {
    /* outline: 2px solid black; */
}

.flex_container {
    display: flex;
    background-color: aqua;
    justify-content:center;
    border: 4px solid black;
    padding: 12px;
  }
  
.flex_container div {
    background-color:rgb(255, 153, 0);
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    margin: 4px;
    justify-content: center;
    text-align: center;
/*   
  .introduction {
      align-content: center;
  }
    .main-content {
      align-content: center;
  }
  
    .contact-us {
      align-content: center;
  } */

